<mat-toolbar color="primary">
<div class="header">
  <img src="../../../assets/up_logo.jpg" id="logo" alt="logo">
  
</div>
  <div class="navbar-icons">
  <mat-icon (click)="goHome()">home</mat-icon>
  <mat-icon [matMenuTriggerFor]="menu">person</mat-icon>
  
  <mat-menu #menu="matMenu">
    <p mat-menu-item><b>{{employeeName}}</b></p>

    <div class="divider dropdown-divider"></div>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>

    <div class="divider dropdown-divider"></div>
    <button mat-menu-item (click)="Logout()">Log out</button>
  </mat-menu>
  </div>

</mat-toolbar>

