


   
      <div *ngIf="errorData.repeatError">
      <div class="card-stacked">
        <div class="card-content">
            <h6><b>Oops!!</b></h6>
          <p>Existing goal cannot be added!</p>
        </div>
        <div class="card-action">
            <button class="out-button" mat-button (click)="closeDialog()" mat-flat-button color="warn">OK</button>
        </div>
      </div>
    </div>

    <div *ngIf="errorData.submitError" >
      <div class="card-stacked">
        <div class="card-content">
            <h6><b>Check!!</b></h6>
          <p>Some fields are empty. Please do check and fill!</p>
        </div>
        <div class="card-action">
            <button class="out-button" mat-button (click)="closeDialog()" mat-flat-button color="warn">OK</button>
        </div>
      </div>
    </div>

    <div *ngIf="errorData.setError" >
      <div class="card-stacked">
        <div class="card-content">
            <h6><b>Set!!</b></h6>
          <p>Minimum 3 goals have to be set in each category!</p>
        </div>
        <div class="card-action">
            <button class="out-button" mat-button (click)="closeDialog()" mat-flat-button color="warn">OK</button>
        </div>
      </div>
    </div>


    <div *ngIf="errorData.messageGoal" >
      <div class="card-stacked">
        <div class="card-content">
            <h6><b>Set!!</b></h6>
          <p>Add goals using 'Add Goal' button or from the suggestion list, for each category</p>
        </div>
        <div class="card-action">
            <button class="out-button" mat-button (click)="closeDialog()" mat-flat-button color="warn">OK</button>
        </div>
      </div>
    </div>

    <div *ngIf="errorData.messageLog" >
      <div class="card-stacked">
        <div class="card-content">
            <h6><b>Appraisal</b></h6>
          <p>This Log contains pending and in-progress Appraisals</p>
        </div>
        <div class="card-action">
            <button class="out-button" mat-button (click)="closeDialog()" mat-flat-button color="warn">OK</button>
        </div>
      </div>
    </div>
   