<body>
  

<mat-card class="forgotPassword-card">
  <mat-card-header>
    <div><mat-icon matPreffix>lock</mat-icon></div>
    <mat-card-title>Set Password</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="forgotPasswordForm" autocomplete="off">

      <mat-form-field appearance="outline" style="width: 225px;">
       <mat-label>Enter Password</mat-label>
       <input type="password" (keyup)="applyFilterPassword($event.target.value)" matInput placeholder="Enter your Password" formControlName="password">
      
       </mat-form-field> 
       <app-field-error-display [displayError]="isFieldValid('password')"  errorMsg="Please Enter Password"></app-field-error-display>

       <mat-form-field appearance="outline">
            <mat-label>Enter Confirm Password</mat-label>
            <input [type]="hideConfirm ? 'password' : 'text'" (keyup)="applyFilter($event.target.value)" matInput placeholder="Enter Confirm Password" formControlName="confirmPassword">
            <mat-icon matSuffix class="hide-icon" (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field> 
            <app-field-error-display [displayError]="isFieldValid('confirmPassword')"   errorMsg="Please Enter Confirm Password"></app-field-error-display>
            <span>{{errorMsg}}</span>
    </form>     
  </mat-card-content>

  <mat-card-actions>
    <button [disabled] = "!submit" mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
    <button mat-raised-button color="warn">Cancel</button>
  </mat-card-actions>
  
</mat-card>

</body>