.forgotPassword-card {
    max-width: 300px;
    margin: 180px 500px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(100, 51, 74, 5);
    background-color: white;
    color: var(--text-color);
}
.mat-card-header{
    margin-left:3.5em;
}
.mat-form-field{
    margin-top: 1em; 
    margin-left:2.5em;
}
.mat-card-actions{
    margin-left:4em;
}