


.action-space
{   
    width: 74%; 
    height: 75%;
    margin-top: 10px;
    overflow:auto; 
}

table
{
width: 100%;

}

.table-content
{
    position: relative;
    width: 100%; 
    height: 100%;
    overflow: auto;
    bottom: 3em;
}

th
{
  font-weight: bold;
}

.initiateButton
{
    width: 60%;
    background-color: green;
    color: white;
}

.formButton
{
    width: 60%;
    background-color: blueviolet;
    color: white;
    
}

.initiateButton:hover
{
    background-color: darkgray;
}

.help-icon
{
    color: darkmagenta;
    position: relative;
    width: 20px; 
    height: 20px; 
    margin-left: 10px; 
    top: 5px; 
    cursor: pointer;
}

#employee-view
{
   
    background-color: white;
    height: 75%;
    width: 72%;
    float: left;
}

#employee-title
{
    margin: 30px 5px 5px 0px;
}

#employee-content
{
    margin: 10px;
}

#click-here
{
    cursor: pointer;
    color: blue;
    
}

button
{
    width: 60%;
    white-space: normal;
}

.search
{
    float: right;
    width: 250px;
    position: relative;
    bottom: 2em;
    margin-right: 5px;
}

.page-title
{
    position: relative;
    bottom: -1em;
}

#search-icon
{
    position: relative;
    top:0.35em;
}

