<div class="page" *ngIf="show" >
<div class="card">
    
    <div *ngIf="gender == 'Female';" class="profile-pic">
        <img src="../../../assets/female_icon.png" alt="profile-pic">
    </div>
    <div *ngIf="gender == 'Male';" class="profile-pic">
        <img src="../../../assets/male_icon.png" alt="profile-pic">
    </div>
    
    <div class="employee-details">
        <h5>Welcome, {{name}}!</h5>
        <h6>ID : {{id}}</h6>
        <h6>Designation : {{designation}}</h6>
        <h6>Date of Birth : {{dob | date :  "dd.MM.y"}}</h6>
        <h6>Date of joining : {{doj | date :  "dd.MM.y"}}</h6>
    </div>
</div>
</div>