.forgot
{
position: relative;
float: left;
cursor: pointer; 
color:rgb(32, 6, 6);
font-weight: 500;
margin-left: 15px;
}

.forgot:hover
{
 text-decoration: underline;
}

.hide-icon
{
    float: right;
    cursor: pointer; 
    margin-right: 15px;
    font-weight: bold;
}

.red-text
{
    background-color: rgb(230, 230, 230);
}

form
{
    background-color: rgb(230, 230, 230);
}

mat-icon
{
    font-weight: bold;
}
body
{
    margin: 15px;
}

.socialpng
{
    height : 40px;
    width: 40px;
    cursor: pointer;
}

.fb {
    background-color: #3B5998;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
  }
  
 
  
  .google {
    background-color: #dd4b39;
    color: white;
    margin-top: 20px;
    float: center;
    margin-left: 100px;
  }
