<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">



<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Oops!!</span>
          <p>The page you are looking for was not found.</p>
        </div>
        <div class="card-action">
          <a [routerLink]="'/login'">Click here to login</a>
         
        </div>
      </div>
    </div>
  </div>
